services:
  caddy:
    container_name: caddy
    image: caddy:2
    depends_on:
      - pds
    ports:
      - "127.0.0.1:9080:80"
      - "127.0.0.1:443:443"
    volumes:
      - ./pds_vol/caddy_data:/data  # Local dir, not /pds/caddy/data (macOS non-root)
      - ./pds_vol/caddy_config:/etc/caddy
      - ./pds_vol/certs:/etc/caddy/certs:ro  # Self-signed
    restart: unless-stopped
  pds:
    container_name: pds
    image: ghcr.io/bluesky-social/pds:0.4
    # network_mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./pds_vol
        target: /pds
    env_file:
      - ./pds.env
